// 编辑器区域功能样式
.tiptap {
    font-size: 16px;
    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }

    blockquote {
        border-left: 3px solid rgb(241, 182, 54);
        margin: 1.5rem 0;
        padding-left: 1rem;
    }

    pre {
        background: var(--black);
        border-radius: 0.5rem;
        color: var(--white);
        font-family: 'JetBrainsMono', monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;

        code {
            background: none;
            color: inherit;
            font-size: 0.8rem;
            padding: 0;
        }
    }

    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li{
            margin: 1.2rem 0;
        }

        p {
            // margin: 1em 0;
            line-height: 1.6em;
        }
    }

    /* Details */
    .details {
        display: flex;
        gap: 0.25rem;
        margin: 1.5rem 0;
        border: 1px solid var(--text-color-gray-light);
        border-radius: 0.5rem;
        padding: 0.5rem;

        summary {
            font-weight: 700;
            list-style: none; // 有些浏览器用这个去掉图标
        }

        >button {
            align-items: center;
            background: transparent;
            border-radius: 4px;
            display: flex;
            font-size: 0.625rem;
            height: 1.25rem;
            justify-content: center;
            line-height: 1;
            margin-top: 0.1rem;
            padding: 0;
            width: 1.25rem;
            border: none;
            transition: all var(--transition-duration-default);

            &:hover {
                background-color: var(--text-color-gray-light);
            }

            &::before {
                content: '\25B6';
            }

        }

        &.is-open>button::before {
            transform: rotate(90deg);
        }

        >div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;

            >[data-type="detailsContent"]> :last-child {
                margin-bottom: 0.5rem;
            }
        }

        .details {
            margin: 0.5rem 0;
        }
    }

    img {
        display: block;
        height: auto;
        margin: 1.5rem 0;
        max-width: 100%;

        &.ProseMirror-selectednode {
            outline: 3px solid var(--primary-color-100);
        }
    }

    mark {
        background-color: #FAF594;
        border-radius: 0.4rem;
        box-decoration-break: clone;
        padding: 0rem 0.3rem;
    }

    /* Code and preformatted text styles */
    code {
        background-color: var(--background-color-gray-default);
        border-radius: 0.4rem;
        color: var(--color-white);
        font-size: 0.85rem;
        padding: 0.25em 0.3em;
    }

    /* Link styles */
    a {
        color: rgb(220, 150, 81);
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;

        &:hover {
            color: rgb(224, 132, 40);
        }
    }

    /* Heading styles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        margin-top: 2.5rem;
        text-wrap: pretty;
    }

    h1,
    h2 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    // horizontal rule
    hr {
        border: none;
        border-top: 2px solid var(--border-color-gray-dark);
        cursor: pointer;
        margin: 2rem 0;

        &.ProseMirror-selectednode {
            border-top: 2px solid var(--primary-color-100);
        }
    }

    /* Task list specific styles */
    ul[data-type="taskList"] {
        list-style: none;
        margin-left: 0;
        padding: 0;

        li {
            align-items: flex-start;
            display: flex;

            >label {
                flex: 0 0 auto;
                margin-right: 0.5rem;
                user-select: none;
            }

            >div {
                flex: 1 1 auto;
            }
        }

        input[type="checkbox"] {
            cursor: pointer;
        }

        ul[data-type="taskList"] {
            margin: 0;
        }
    }

    /* Table-specific styling */
    table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            border: 1px solid var(--border-color-gray-deeper);
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top;

            >* {
                margin-bottom: 0;
            }
        }

        th {
            background-color: var(--border-color-gray-dark);
            font-weight: bold;
            text-align: left;
        }

        .selectedCell:after {
            background: var(--border-color-gray-default);
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            position: absolute;
            z-index: 2;
        }

        .column-resize-handle {
            background-color: var(--primary-color-100);
            bottom: -2px;
            pointer-events: none;
            position: absolute;
            right: -2px;
            top: 0;
            width: 4px;
        }
    }

    .tableWrapper {
        margin: 1.5rem 0;
        overflow-x: auto;
    }

    &.resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }

    /* Floating menu */
    .floating-menu {
        display: flex;
        background-color: var(--gray-3);
        padding: 0.1rem;
        border-radius: 0.5rem;

        button {
            background-color: unset;
            padding: 0.275rem 0.425rem;
            border-radius: 0.3rem;

            &:hover {
                background-color: var(--gray-3);
            }

            &.is-active {
                background-color: var(--white);
                color: var(--purple);

                &:hover {
                    color: var(--purple-contrast);
                }
            }
        }
    }
}