// 容器
.func-container {
    width: 100%;
    color: var(--text-color-gray-dark);

    // 标题
    .title {
        font-size: 26px;
        font-weight: bold;
        margin: 20px 0;
    }

    // 加重文字
    .bold-text {
        color: var(--color-white);
        font-weight: bold;
    }

    // 减轻文字
    .light-text {
        color: var(--text-color-gray-default);
    }

    // 模块标题
    .module-title {
        font-size: 20px;
        padding: 5px 0;
        // border-bottom: 1px solid black;
        margin-bottom: 5px;
    }

    // 区域包装
    .module-wrapper {
        margin: 15px 0;

        // 区域容器
        .module-container {
            width: 100%;
            // border: 1px solid var(--border-color-gray-deeper);
            border-radius: 10px;
            box-shadow: 0 0 3px rgb(124, 124, 124);
            padding: 15px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 10px;
            transition: all var(--transition-duration-fast);

            &:hover {
                box-shadow: 0 0 5px rgb(124, 124, 124);
            }

            // 小功能
            .small-func {
                border-bottom: 1px solid rgb(193, 193, 193);

                &:last-child {
                    border-bottom: none;
                }

                // 小功能标题
                .small-func-title {
                    font-size: 18px;

                    label {}
                }
            }

            // 按钮
            .little-btn {
                width: 90px;
                height: 32px;
                margin: 6px 0;
                cursor: pointer;
                border-radius: 6px;
                border: 2px solid var(--border-color-gray-deepest);
                background-color: transparent;
                transition: all var(--transition-duration-default);
                font-size: 15px;

                &:hover {
                    border: 2px solid var(--primary-color-100);
                    color: var(--text-color-primary);
                    transform: scale(1.05);
                }
            }
        }
    }
}